__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

*.bak
*.swp
*.~lock.*
*.tmp

.vscode/
.idea/
*.sublime-*

/media/
/static/

*.pyc
*.db

venv/
env/
*.venv

settings.py
local_settings.py

.git/
.gitignore

*.mo
*.pot
*.po

*.backup
*.bak
*.old
